<mat-toolbar color="primary">
    <span>My Maps</span>
</mat-toolbar>

<div class="main-container">

    <app-mapa></app-mapa>

    <!-- <div class="example-button-row">
        <button mat-raised-button class="margin-right: 70px;">Basic</button> &nbsp;
        <button mat-raised-button color="primary">Primary</button> &nbsp;
        <button mat-raised-button color="accent">Accent</button> &nbsp;
        <button mat-raised-button color="warn">Warn</button> &nbsp;
        <button mat-raised-button disabled>Disabled</button> &nbsp;
        <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div>

    <mat-progress-bar mode="query"></mat-progress-bar> -->


</div>